{% macro render_field(field) %}

  {% if field.errors %}
    <div class="form-group has-danger">
      <label class="form-control-label">{{ field.label}}</label>
      {{ field(class_="form-control is-invalid")}}

      {% for error in field.errors %}
        <div class="invalid-feedback">{{ error }}</div>
      {% endfor %}
    </div>
  {% else %}
    <div class="form-group">
      <label>{{ field.label}} </label>
      {{ field(class_="form-control")}}
    </div>
  {% endif %}

{% endmacro %}
